# 자료형

## 정수형

In [4]:
a = 1000 
print(f'값: {a}, dtype: {type(a)}')

a = -7
print(f'값: {a}, dtype: {type(a)}')

a = 0
print(f'값: {a}, dtype: {type(a)}')

값: 1000, dtype: <class 'int'>
값: -7, dtype: <class 'int'>
값: 0, dtype: <class 'int'>

## 실수형

In [7]:
a = 157.93
print(f'값: {a}, dtype: {type(a)}')

b = -1837.2
print(f'값: {b}, dtype: {type(b)}')

c = 3.
print(f'값: {c}, dtype: {type(c)}')

d = -.112
print(f'값: {d}, dtype: {type(d)}')

값: 157.93, dtype: <class 'float'>
값: -1837.2, dtype: <class 'float'>
값: 3.0, dtype: <class 'float'>
값: -0.112, dtype: <class 'float'>

In [8]:
a = 1e9
print(a)

b = 12.45e2
print(b)

c = 123e-3
print(c)

1000000000.0
1245.0
0.123

In [10]:
a = 0.2 + 0.4
print(a)


if a == 0.6:
    print(True)
else:
    print(False)
    
print(' -- round --')    

a = round(a, 1)
if a == 0.6:
    print(True)
else:
    print(False)

0.6000000000000001
False
 -- round --
True

## 수 연산

In [13]:
a = 13
b = 3

# 나누기
print(a / b)

# 나누기 - 몫
print(a // b)

# 나누기 - 나머지
print(a % b)

# 곱
print(a * b)

# 승수
print(a ** b)

4.333333333333333
4
1
39
2197

 ## 리스트 자료형
     - 파이썬은 연결 리스트

In [16]:
a = [1, 2, 3, 4, 5]
print(a)

# 인덱스 3 (4번쨰 원소)
print(a[3])

# 빈 리스트 생성
a = list()
print(a)

[1, 2, 3, 4, 5]
4
[]

In [18]:
## 크기가 N 이고 모두 값이 0인 리스트 (코딩테스트때 자주사용)

n=8
a = [0] * n
print(a)

[0, 0, 0, 0, 0, 0, 0, 0]

### 리스트 인덱싱과 슬라이싱

In [21]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# 맨뒤 인덱스
print(a[-1])

# 뒤에서 3번째 인덱스
print(a[-3])

# 네번째 원소
print(a[3])


# 슬라이싱

print(a[1:4])

print(a[-3:-1])

10
8
4
[2, 3, 4]
[8, 9]

### 리스트 컴프리헨션

In [32]:
array1 = [i for i in range(20) if i % 2 == 1]
print(array1)

array2 = [i if i % 2 == 1 else '_' for i in range(20)]
print(array2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
['_', 1, '_', 3, '_', 5, '_', 7, '_', 9, '_', 11, '_', 13, '_', 15, '_', 17, '_', 19]

In [34]:
## N X M 행렬 초기화
m = 5
n = 4
matrix1 = [[0]*m for _ in range(n)]
print(matrix1)

[[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [37]:
matrix1[0][2] = 4
matrix1

[[0, 0, 4, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

### 리스트 관련 메서드
    - append()
    - sort(reverse=False)
    - reverse()
    - insert(삽입할 위치 인덱스, 삽입할 값)
    - count(특정값)
    - remove(특정값)

In [55]:
a = [1, 2, 3, 4]
print('기본 리스트: ', a)

# 리스트에 원소 삽입
a.append(15)
print('append: ', a)


# 내림차순 정렬
a.sort(reverse=True, )
print(a)

# 역순 변환
a.reverse()
print(a)

# 특정 인덱스 삽입
a.insert(1, 111)
a.insert(4, 111)

print(a)


# 특정 값인 데이터 세기

print(a.count(111))

a.remove(111) # 첫번째 것만 삭제
print(a)

기본 리스트:  [1, 2, 3, 4]
append:  [1, 2, 3, 4, 15]
[15, 4, 3, 2, 1]
[1, 2, 3, 4, 15]
[1, 111, 2, 3, 111, 4, 15]
2
[1, 2, 3, 111, 4, 15]

## 문자열 자료형

### 문자열 초기화

In [59]:
data = 'hello world!'
print(data)

data = 'Don\'t you know \'Python\'?'
print(data)

hello world!
Don't you know 'Python'?

### 문자열 연산

In [66]:
a = 'coding'
b = 'test'
print(a + ' '+ b)

coding test

In [67]:
a = 'String'
print( a * 3)

StringStringString

In [68]:
a = 'abcdefg'
print(a[1:-1])

bcdef

## 튜플 자료형

    - 한 번 선언된 값을 변경할 수 없다.
    - 리스트는 대괄호([])를 이용하지만, 튜플은 소괄호(())를 이용한다.

In [69]:
a = (1, 2, 3, 4)
print(a)

(1, 2, 3, 4)

In [70]:
a[2] = 11 ## 에러

TypeError: 'tuple' object does not support item assignment

## 사전 자료형

In [71]:
data = dict()
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

print(data)

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [72]:
if '사과' in data:
    print('사과를 키로 가지는 데이터가 존재합니다.')

사과를 키로 가지는 데이터가 존재합니다.

### 사전 자료형 관련 함수

In [75]:
data = {}

data['사과']='Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

# 키 데이터만 담은 리스트
key_list = data.keys()

# 값 데이터만 담은 리스트
value_list = data.values()
print(key_list)
print(value_list)


for key in key_list:
    print(data[key])

<class 'dict'>
dict_keys(['사과', '바나나', '코코넛'])
dict_values(['Apple', 'Banana', 'Coconut'])
Apple
Banana
Coconut

## 집합 자료형

    - 중복 허용 X
    - 순서없음

In [78]:
data = set([1, 1, 2, 2, 3,3, 3, 4, 4])
print(data)

data = {1, 1, 2, 3, 4, 4,5}
print(data)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [79]:
a = set([1, 2, 3, 4, 5])
b = set([3, 4, 5, 6, 7])

print(a | b) # 합집합
print(a & b) # 교집합
print(a - b) # 차집합

{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{1, 2}

In [87]:
data = set([1, 2, 3])
print(data)

# 새로운 원소 추가
data.add(4)
print(data)

# 새로운 원소 여러 개 추가
data.update([5, 6, 7])
print(data)

# 특정한 값을 갖는 원소 삭제
data.remove(5)
print(data)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 6, 7}

# 조건문

In [88]:
x = 15

if x >= 10:
    print(x)

15

In [105]:
def score_cal(score):
    if score >= 90:
        print('학점 : A')

    elif score >= 80:
        print('학점 : B')

    elif score >= 70:
        print('학점 : C')
    else:
        print('학점 : F')
    

scores= [10,90 ,50, 84]

import pandas as pd
scores = pd.Series(scores)
scores.apply(score_cal)

학점 : F
학점 : A
학점 : F
학점 : B

0    None
1    None
2    None
3    None
dtype: object

In [106]:
list(map(score_cal, scores))

학점 : F
학점 : A
학점 : F
학점 : B

[None, None, None, None]

In [108]:
a = [1, 2, 3, 4, 5, 6, 6, 6]
remove_set = [3,6]

result = []
for i in a:
    if i not in remove_set:
        result.append(i)
        
print(result)

[1, 2, 4, 5]

# 반복문

## while문

In [112]:
i = 0
result = 0

while i <=10 :
    result += i
    i += 1
    
print(result)

55

## for문

In [113]:
result = 0
for i in range(1, 11):
    result += i
    
print(result)

55

In [117]:
scores = [90, 65, 98, 92, 67]
cheating_list = [2, 4]

for i in range(len(scores)):
    if i+1 in cheating_list:
        continue
    if scores[i] > 80:
        print(i + 1, '반 학생은 합격입니다.')

1 반 학생은 합격입니다.
3 반 학생은 합격입니다.

# 함수

In [123]:
def add(a, b):
    return a+b

print(add(3, 4))

7

In [124]:
a = 0

def func():
    global a # 전역변수
    a += 1
    
for i in range(11):
    func()
    
print(a)

11

In [127]:
(lambda a, b: a+ b)(3, 1)

4

# 입출력

## 입력을 위한 전형적인 소스코드

In [131]:
# 데이터의 개수 입력
n = int(input())

# 각 데이터를 공백으로 구분하여 입력
data = list(map(int, input().split(' ')))

data.sort(reverse=True)
print(data)

5
1 22 3 4 44 5
[44, 22, 5, 4, 3, 1]

## 공백을 기준으로 구분하여 적은 수의 데이터 입력

In [132]:
n, m, k = map(int, input().split())

print(n, m, k)

1 10 2
1 10 2

In [133]:
import sys

sys.stdin.readline().rstrip()

''

In [134]:
data = sys.stdin.readline().rstrip()
print(data)

In [137]:
sys.stdin.readline()

''

# 파이썬 내장함수

In [138]:
result = eval('(3+5) * 2')
print(result)

16

In [142]:
result = sorted(([('홍길동', 35), ('이순신', 75), ('아무개', 50)]), key = lambda x : x[0])
print(result)

result = sorted(([('홍길동', 35), ('이순신', 75), ('아무개', 50)]), key = lambda x : x[1])
print(result)

[('아무개', 50), ('이순신', 75), ('홍길동', 35)]
[('홍길동', 35), ('아무개', 50), ('이순신', 75)]

# itertools

In [150]:
from itertools import permutations # 순열

data = ['A', 'B', 'C']
result = list(permutations(data, 3)) # data 중 r개를 뽑아 일렬로 나열하는 모든 경우(순열) 계산
print(result)

[('A', 'B', 'C'), ('A', 'C', 'B'), ('B', 'A', 'C'), ('B', 'C', 'A'), ('C', 'A', 'B'), ('C', 'B', 'A')]

In [151]:
result = list(permutations(data, 2))
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'C'), ('C', 'A'), ('C', 'B')]

In [153]:
from itertools import combinations

data = ['A', 'B', 'C'] # 데이터 준비
result = list(combinations(data, 2)) # 2개를 뽑는 모든 조합 구하기
print(result)

[('A', 'B'), ('A', 'C'), ('B', 'C')]

In [154]:
result = list(combinations(data, 3))
print(result)

[('A', 'B', 'C')]

In [155]:
from itertools import product # 순열 + 원소 중복 허용

data = ['A', 'B', 'C']
result = list(product(data, repeat=2))  # 2개를 뽑는 모든 순열 구하기
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'A'), ('B', 'B'), ('B', 'C'), ('C', 'A'), ('C', 'B'), ('C', 'C')]

In [156]:
data = ['A', 'B', 'C']
result = list(product(data, repeat=3))  # 3개를 뽑는 모든 순열 구하기
print(result)

[('A', 'A', 'A'), ('A', 'A', 'B'), ('A', 'A', 'C'), ('A', 'B', 'A'), ('A', 'B', 'B'), ('A', 'B', 'C'), ('A', 'C', 'A'), ('A', 'C', 'B'), ('A', 'C', 'C'), ('B', 'A', 'A'), ('B', 'A', 'B'), ('B', 'A', 'C'), ('B', 'B', 'A'), ('B', 'B', 'B'), ('B', 'B', 'C'), ('B', 'C', 'A'), ('B', 'C', 'B'), ('B', 'C', 'C'), ('C', 'A', 'A'), ('C', 'A', 'B'), ('C', 'A', 'C'), ('C', 'B', 'A'), ('C', 'B', 'B'), ('C', 'B', 'C'), ('C', 'C', 'A'), ('C', 'C', 'B'), ('C', 'C', 'C')]

In [157]:
from itertools import combinations_with_replacement # 조합 + 중복 허용

data =['A', 'B', "C"]
result = list(combinations_with_replacement(data, 2))
print(result)

[('A', 'A'), ('A', 'B'), ('A', 'C'), ('B', 'B'), ('B', 'C'), ('C', 'C')]